<%- include('partials/header') %>

<div class="login-page">
  <div class="form">
    <h1>Register</h1>
    
    <form class="login-form" action="/register" method="POST">
      <input type="text" placeholder="username or email address" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <button>Sign Up</button>
      <p class="message">Have an account? <a href="/login">Sign in</a></p>
      <a href="/auth/google">Sign in with Google</a>
    </form>
  </div>
</div>

<%- include('partials/footer') %>